.wrapper {
  display: flex;
  justify-content: center;
  /* gap: 0px 0px; */
}
.selectbox {
  /* overflow: hidden; */
  width: 80%;
  margin: auto 0.4rem;
  text-align: center;
}
.time {
  padding-top: 0px;
}
.selectbox select {
  width: 100%;
  padding-right: 1em;
  cursor: pointer;
  text-indent: 0.01px;
  text-overflow: ellipsis;
  border: none;
  outline: none;
  background: transparent;
  background-image: none;
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none;
}
.selectbox select::-ms-expand {
  display: none;
}
.selectbox {
  position: relative;
  border: 1px solid black;
  border-radius: 2px;
  background: #ffffff;
}
.selectbox::before {
  position: absolute;
  top: 0.8em;
  right: 0.9em;
  width: 0;
  height: 0;
  padding: 0;
  content: "";
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #666666;
  pointer-events: none;
}
.selectbox:after {
  position: absolute;
  top: 0;
  right: 2.5em;
  bottom: 0;
  width: 1px;
  content: "";
  border-left: 1px solid black;
}
.selectbox.select select {
  padding: 8px 38px 8px 8px;
  color: #666666;
}
